/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --background: #fae7f9;
    --shadow: 11px 13px 5px -7px rgba(0,0,0,0.7);
    --nav-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
    --notes-nav: rgb(244,246,252);
    --notes-background: #AEC6CF;

    --font-size: 62.5%;
    --color-primary: #141947;
    --color-secondary: #6058C7;
    --color-font: hsla(190, 100%, 90%, 0.902);
    
    --color-shadow: hsl(235, 36%, 35%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #fff;
    background: #91acee;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100vh;
}

body {
    background: url("../assets/background_note.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.fix-position {
    position: fixed;
}

nav { 
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: var(--notes-nav);
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: var(--nav-shadow);
}

.user {
    display: flex;
    align-items: center;
    margin: 0 ;
    background: rgba(34,39,86, 0.9);
}

.logo {
    /* width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    object-fit: cover; */

    border-radius: 50%;
    overflow: hidden;
    width: 4.5rem;
    height: 4.5rem;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.user p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 13px;
    color: #F4F6FC;
}

.user p:nth-child(2) {
    text-transform: lowercase;
    font-size: 13px;
    font-weight: normal;
}

.menu #theme-toggle,
a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 16px;
    display: table;
    width: 300px;
    padding: 10px;
    text-transform: capitalize;
}

.menu #theme-toggle i,
.menu a i {
    position: relative;
    width: 70px;
    height: 40px;
    top: 10px;
    font-size: 25px;
    text-align: center;
}

.menu #theme-toggle:hover i,
.menu a:hover i {
    animation: icon 0.4s ease-in-out;
}

@keyframes icon {
    0% {
        top: -10px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 10px;
    }
}

.nav-item {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.menu #theme-toggle:hover,
.menu a:hover {
    background: #cecece;
}

.menu .active {
    background: #cecece;
}

nav:hover {
    width: 300px;
    transition: all 0.5s ease;
}

.logout {
    position: absolute;
    bottom: 0;
}

nav:hover ~ section {
    margin-left: 10%;
}

section {
    transition: 0.5s ease;
}

/* NOTES */
.wrapper {
    margin: 50px 0 50px 150px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper .note {
    height: 250px;
    list-style: none;
    border-radius: 25px;
    padding: 15px 20px 20px;
    background: var(--notes-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    box-shadow: var(--shadow);
}

/* NOTE PINNED */
.wrapper .pinned {
    background: #a9d2e1;
}

/* ADD BUTTON */
.wrapper .add-box {
    background-color: rgba(220,229,255, 1);
    margin-left: 35px;
    width: 75%;
    height: 15rem;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.wrapper .add-box:active {
    transform: translate(2px, 4px);
    box-shadow: 6px 8px 18px -4px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 6px 8px 18px -4px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 6px 8px 18px -4px rgba(0, 0, 0, 0.79);
}

.add-box,
.bottom-content,
.popup,
header,
.settings .menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box p {
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 20px;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note .details {
    max-height: 165px;
    word-wrap: break-word;
    overflow: scroll;
}

.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar {
    width: 0;
}

.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar {
    width: 5px;
}

.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}

.note .note-content {
    cursor: pointer;
    height: 100%;
}

.note p {
    background: transparent;
    font-size: 22px;
    font-weight: 500;
}

.note span {
    display: block;
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
}

.note .bottom-content {
    padding-top: 10px;
    border-top: 2px solid #4a8194;
}

.bottom-content span {
    color: #6D6D6D;
    font-size: 14px;
}

/* BOTTOM OF NOTES */
.bottom-content .settings {
    position: relative;
}

.bottom-content .settings i {
    color: #6D6D6D;
    cursor: pointer;
    font-size: 20px;
}

/* PINNED NOTES */
.bottom-content .settings i.pinned {
    text-shadow: 0 0 10px #1200b8;
    color: #1200b8;
}

/* FEATHER SETTINGS ANIMATION  */
.bottom-content .settings i.pinned:hover,
.bottom-content .settings i:hover {
    animation: feather 0.3s ease;
}

@keyframes feather {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* SETTINGS */
.settings .menu {
    z-index: 1;
    bottom: 0;
    right: -5px;
    padding: 2px 0;
    background: #a9d2e1;
    position: absolute;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: bottom right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.20);
    transition: transform 0.2s ease;
}

/* THE SHOW IS FROM SCRIPT ADDING .SHOW TO SHOW THE SETTINGS */
.settings.show .menu {
    transform: scale(1);
}

.settings .menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 0px 17px 15px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0;
    justify-content: flex-start;
}

/* .settings .menu li input {
    font-size: 16px;
    border: none;
    background: none;
    width: 4rem;
    padding: 0;
    cursor: pointer;
}
 */

.settings .menu li button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    border: none;
    width: 6.3rem;
    height: 35px;
    margin: -11px;
    cursor: pointer;
    background: transparent;
    text-transform: capitalize;
}

.menu li:last-child {
    margin-bottom: 0;
}

.menu li:hover{
    background: #8aafbd;
}

.menu li i {
    padding-right: 8px;
}

/* FORM POP BOX FOR ADD AND UPDATE FORM */
.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    height: 100%;
    max-width: 60rem;
    max-height: 60rem;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.95);
}

.popup-box,
.popup {
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

/* ADDING THE .SHOW TO SHOW THE FORMS */
.popup-box.show,
.popup-box.show .popup {
    opacity: 1;
    pointer-events: auto;
}

.popup-box.show .popup {
    transform: translate(-50%, -50%) scale(1);
}

/* SHOW THE FORM ADD */
.popup .content {
    border-radius: 25px;
    background: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.content header {
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.content header p {
    font-size: 20px;
    font-weight: 500;
}

.content header i {
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}

.content form {
    margin: 15px 25px 35px;
}

.content form .row {
    margin-bottom: 20px;
}

form .row label {
    font-size: 18px;
    display: block;
    margin-bottom: 6px;
}

form :where(input, textarea) {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: /* 1px solid #999 */none;
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.2);
}

form :where(input, textarea):focus {
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.2);
}

form .row textarea {
    height: 330px;
    resize: none;
    padding: 8px 15px;
}

form #add_update {
    width: 100%;
    height: 50px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
    background: #6A93F8;
    box-shadow: 6px 8px 23px -6px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 6px 8px 23px -6px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 6px 8px 23px -6px rgba(0, 0, 0, 0.79);
}

form #add_update:active {
    transform: translate(2px, 4px);
    box-shadow: 6px 8px 18px -4px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 6px 8px 18px -4px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 6px 8px 18px -4px rgba(0, 0, 0, 0.79);
}

/* CHICKEN ICON */
.chicken {
    --colSize: 30px;
    --br: calc(var(--colSize) * 2);
    --combColor: hsl(12 98% 52% / 1);
    --beakColor: hsl(42 100% 50% / 1);
    display: grid;
    grid-template-columns: repeat(3, var(--colSize));
    grid-auto-rows: var(--colSize);
    grid-template-areas:
        ". . comb1"
        "comb2 comb2 comb1"
        ". eye beak"
        ". wattle .";
    margin-bottom: 1%;
}

.comb1 {
    grid-area: comb1;
    border-radius: 0 var(--br) var(--br) 0;
    background: var(--combColor);
    /* transform: skew(-18deg, 0deg); */

    position: relative;
    top: 8px;
    left: 11px;
    transform: rotate(25deg);
    animation: chicks1 0.7s ease forwards;
}

@keyframes chicks1 {
    100% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
}

.add-box:hover .comb1 {
    transform: rotate(25deg);
    animation: chicks3 0.7s ease forwards;
}

@keyframes chicks3 {
    100% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
}

.comb2 {
    grid-area: comb2;
    border-radius: 0 var(--br) 0 var(--br);
    background: var(--combColor);
    position: relative;
    bottom: 12px;
    left: 10px;
    /* transform: skew(0deg, 18deg); */
    transform: rotate(30deg);
    animation: chicks2 1s ease forwards;
}

@keyframes chicks2 {
    100% {
        bottom: 0;
        left: 0;
        transform: rotate(0deg);
    }
}

.add-box:hover .comb2 {
    transform: rotate(30deg);
    animation: chicks4 1s ease forwards;
}

@keyframes chicks4 {
    100% {
        bottom: 0;
        left: 0;
        transform: rotate(0deg);
    }
}

.eye {
    --pupil: calc(var(--colSize) * .18);
    grid-area: eye;
    background: radial-gradient(black var(--pupil), transparent var(--pupil));
    height: 0;
    animation: eye 1s ease forwards;
}

@keyframes eye {
    100% {
        height: 100%;
    }
}

.add-box:hover .eye {
    height: 0;
    animation: eye2 1s ease forwards;
}

@keyframes eye2 {
    100% {
        height: 100%;
    }
}

.beak {
    grid-area: beak;
    border-radius: 0 var(--br) 0 0;
    background: var(--beakColor);
}

.wattle {
    grid-area: wattle;
    border-radius: var(--br) 0 var(--br) var(--br);
    background: var(--combColor);
    position: relative;
    top: 2px;
    left: 5px;
    transform: rotate(-17deg);
    animation: wattle 1s ease forwards;
}

@keyframes wattle {
    100% {
        top: 0;
        left: 0;
        transform: rotate(0);
    }
}

/* POMODORO */
.container p,
.container i,
.container h1 {
    color: var(--color-font);
}

.container i {
    font-size: 3.2rem;
}

.container p {
    font-size: 3.2rem;
}

#pomodoro {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.painel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 1fr; */
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    font-weight: bolder;
}

.painel p {
    opacity: 1;
    transition: 1s ease-in;
    color: #46D0FA;
}

.painel p.active {
    opacity: 1;
    color: var(--color-primary);
}

.timer {
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
    box-shadow: 4px 4px 31px 11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 31px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 31px 11px rgba(0,0,0,0.75);
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.controls {
    position: absolute;
    margin-top: 13rem;
    display: flex;
    gap: 10px;

}

.controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

.controls #reset {
    display: none;
}

.controls #pause {
    display: none;
}

/* SETTINGS */
.contact-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    border: 3px solid var(--color-secondary);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 25%;
    height: 50%;
    background: rgba(99, 69, 197, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile {
    border: 5px solid rgba(91, 91, 91, 0.5);
    border-radius: 50%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
}

.profile img {
    /* border-radius: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.two-col .contact-inputs {
    width: 200px;
}

.contact-inputs {
    font-size: 1.5rem;
    width: 400px;
    height: 50px;
    border: 2px solid var(--color-secondary);
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #f4c9ff;
    background: rgba(49, 43, 139, 0.3);
    transition: 0.3s ease;
}

.contact-inputs:focus {
    border: var(--notes-background);
    background-color: var(--color-secondary);
}

.contact-left button {
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: #D8B8EE;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #344AA3, #3B87D4);
    cursor: pointer;
}

/* DARK MODE */
body.dark-mode {
    background: linear-gradient(352deg, rgba(71,71,71,0.711922268907563) 0%, rgba(0,0,0,0.6418942577030813) 79%), url("../assets/background_note.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.dark-mode nav {
    background: #6b6b6b;
}

.dark-mode .menu #theme-toggle i,
.dark-mode .menu i {
    color: #000;
}

.dark-mode .menu span {
    color: #cdcdcd;
}

.dark-mode .menu #theme-toggle:hover,
.dark-mode .menu a:hover {
    background: #494949;
}

.dark-mode .menu .active {
    background: #494949;
}

.dark-mode .wrapper .add-box {
    background: rgb(144, 155, 185);
}

.dark-mode .popup .content {
    background: #494949;
    color: #f1f1f1;
}

.dark-mode .popup form :where(input, textarea) {
    background: #6b6b6b;
    color: #f1f1f1;
    border: none;
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.dark-mode .popup form :where(input, textarea):focus {
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.dark-mode form #add_update {
    color: #f1f1f1;
    background: #4965ac;
    box-shadow: 6px 8px 23px -6px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 6px 8px 23px -6px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 6px 8px 23px -6px rgba(0, 0, 0, 0.79);
}

@media (max-width: 660px) {
    .popup .content {
        height: 100vh;
    }

    .wrapper {
        margin: 15px;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapper li {
        height: 200px;
    }

    .add-box p {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 20px;
    }

    .popup-box .popup {
        max-width: calc(100% - 15px);
    }

    .bottom-content .settings i {
        margin-top: 10px;
        font-size: 17px;
    }

    .chicken {
        --colSize: 23px;
    }
}

@media (max-width: 320px) {
    .popup .content {
        height: 90vh;
    }

    .wrapper {
        margin: 15px;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapper li {
        height: 150px;
    }

    .add-box p {
        text-align: center;
        font-size: 0.7rem;
        margin-top: 20px;
    }

    .note p {
        font-size: 15px;
    }
    
    .note span {
        font-size: 10px;
        margin-top: 5px;
    }

    .popup-box .popup {
        max-width: calc(100% - 15px);
    }

    .bottom-content .settings i {
        font-size: 17px;
    }

    .note .bottom-content {
        padding: 0;
    }

    .chicken {
        --colSize: 16px;
    }
}
