* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #00ff3355;
}

body {
    min-height: 100vh;
    background: url("../assets/loginBackground.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

/* NAVIGATION BAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    text-transform: capitalize;
    transition: background 0.3s ease;
    user-select: none;
}

/* NAVIGATION STICKY WHILE SCROLL */
header.sticky {
    background: #117127;
}

/* SECTIONS */
section {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
}

/* LOGO */
.logo {
    position: relative;
}

.logo h2 {
    margin: 30px;
    font-size: 3em;
    color: #d3ff92;
    font-family: "Dancing Script", cursive;
}

.logo img {
    width: 15%;
    float: left;
    margin: 20px;
    -webkit-user-drag: none;
}

/* NAVIGATION TAB */
.navigation a {
    position: relative;
    font-size: 1.2em;
    font-weight: 200;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    padding: 20px;
    padding-bottom: 30px;
    letter-spacing: 3px;
}

.navigation a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgb(147, 227, 147);
    box-shadow: 0 0 5px whitesmoke;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover::before,
.navigation a.active::before {
    transform: scaleX(1);
}

/* LOGIN PAGE */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #00ff95;
    border-radius: 15px;
    overflow: hidden;

}

/* ANIMATE WHEN PAGE RELOAD OR SCROLL */
.show-animate .wrapper {
    transition: 1s ease;
    animation: glow 2s forwards;
}

@keyframes glow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 35px #00ff95,
                    0 0 35px #007041,
                    0 0 35px #000000;
    }
}

/* LOGIN, REGISTER, FORGOT PASSWORD FORM */
.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

/* LOGIN FORM */
.wrapper .form-box.login {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    left: 0;
    padding: 0 60px 0 40px;
    z-index: 2;
    
    animation: loginAnimate 1s ease forwards;
    transform: translateX(-120%);
    filter: blur(10px);
    opacity: 0;
}

/* LOGIN ANIMATION */
@keyframes loginAnimate {
    100% {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}

.wrapper .form-box.login .animation,
.wrapper .form-box .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.6s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation,
.wrapper.active .error-msg .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper.active .form-box.login {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    transition-delay: 0.8s;
}

/* FORGOT PASSWORD FORM */
.wrapper .form-box.forgot {
    left: 0;
    padding: 20px 60px 0 40px;
    transition: 1s ease;
    transition-delay: 1s;
}

/* FORGOT PASSWORD ANIMATION */
.wrapper .form-box.forgot .animation {
    filter: blur(10px);
    opacity: 0;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.hello .form-box.forgot .animation {
    filter: blur(0);
    z-index: 4;
    opacity: 1;
    display: block;
    transition: 1s ease;
    transition-delay: calc(.1s * var(--i));
}

.wrapper.hello .form-box.forgot {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition-delay: 1.3s;
}

.wrapper.hello .form-box.login,
.wrapper.hello .form-box.login .animation {
    opacity: 0;
    z-index: -111;
    transition-delay: calc(.1s * var(--i));
}

/* REGISTER FORM */
.wrapper .form-box.register {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    padding: 0 40px 0 60px;
    right: 0;
}

/* REGISTER ANIMATION */
.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.wrapper.active .form-box.register {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition-delay: 0.8s;
    pointer-events: auto;
}

/* ERROR MESSAGE */
.wrapper .error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    color: #ff0000;
    font-weight: bolder;
}

.form-box h2 {
    font-size: 2.7rem;
    color: #d3ff92;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

/* FORM INPUTS */
.form-box .two-forms {
    position: relative;
    display: flex;
    gap: 10px;
    margin-bottom: -20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 23px;
    border-bottom: 2px solid #ffff;
    transition: .2s;
}

.input-box input:focus,
.input-box input:valid {
    color: #00ff95;
    border-bottom-color: #00ff95;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffff;
    pointer-events: none;
    transition: .2s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    color: #00ff95;
    top: -5px;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ffff;
    transition: .2s;
}

.input-box input:focus~i,
.input-box input:valid~i {
    color: #00ff95;
}

/* FORM BUTTON */
.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #00ff95;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #005601;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#179f67, #00ff95, #179f67);
    z-index: -1;
    transition: 0.5s;
}

.btn:hover::before {
    top: 0;
}

/* LINK FOR REGISTER AND FORGOT PASSWORD PAGE */
.form-box .logreg-link {
    font-size: 14.5px;
    color: #ffff;
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p {
    margin-bottom: 10px;
}

.logreg-link p a {
    color: #00ff95;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

/* LOGIN FORM TEXT */
.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;

    animation: infoAnimate 1s ease forwards;
    transform: translateX(120%);
}

/* LOGIN FORM TEXT ANIMATION */
@keyframes infoAnimate {
    100% {
        transform: translateX(0);
    }
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.5s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

/* REGISTRATION FORM TEXT */
.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

/* REGISTRATION FORM TEXT ANIMATION */
.wrapper.active .info-text.register {
    pointer-events: auto;
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: 0.6s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

/* HEADER AND PARAGRAPH */
.info-text h2 {
    font-size: 36px;
    color: #00ff95;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 16px;
    color: #fff;
}

/* FORM BACKGROUND ANIMATION */
.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #d3ff92);
    border-bottom: 3px solid #00ff95;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 0.6s;
    opacity: 0.7;
}

.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: 0.4s;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid #00ff95;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 0.8s ease;
    transition-delay: 0.5s;
    opacity: 0.7;
}

.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 0.9s;
}

/* ABOUT PAGE */
.sec {
    background: linear-gradient(180deg, transparent, rgba(3, 50, 3, 0.4), rgba(3, 50, 3, 0.4), rgba(3, 50, 3, 0.5), rgba(3, 50, 3, 0.5), rgba(3, 50, 3, 0.6));
    height: 100vh;
    width: 100%;
}

.heading h1 {
    text-align: center;
    color: #99ff00;
    font-size: 50px;
    margin-top: 50px;
    padding-top: 10%;
    text-shadow: 0 0 10px #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

/* PAGE TEXT */
.container .content {
    width: 50%;
    margin: 0 25px;
    padding: 25px;
    border: 2px solid #00ff95;
    border-radius: 12px;
    transition: 0.5s ease;
}

/* PAGE TEXT ANIMATION WHEN SCROLL */
.show-animate .container .content {
    animation: aboutContent 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes aboutContent {
    100% {
        box-shadow: 0 0 35px #00ff95,
                    0 0 35px #007041,
                    0 0 35px #000000;
        backdrop-filter: blur(2px);
        background: rgba(24, 112, 30, 0.4);
    }
}

.container .content .sub-header {
    display: inline-block;
}

.container .content .text-header {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #daff62;
    /* background-image: -webkit-linear-gradient(45deg, #4F6F52 31%, #E8DFCA 91%, #F5EFE6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent; */
}

/* HEADER ANIMATION */
.show-animate .container .content .text-header {
    width: 100%;
    border-right: 5px solid #1eff61;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(24), cursor 0.4s step-end infinite alternate;
}

/* CURSOR ANIMATION */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/* TYPE ANIMATION */
@keyframes typing {
    from {
        width: 0;
    }
}

/* PARAGRAPH ABOUT */
.container .content p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: justify;
    opacity: 0;
    filter: blur(5px);
    transition: 0.5s ease;
}

/* PARAGRAPH ANIMATION */
.show-animate .container .content p {
    animation: aboutParagraph 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes aboutParagraph {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* ABOUT BUTTON */
.container .content button {
    display: inline-block;
    background: #209722;
    opacity: 0;
    filter: blur(5px);
    color: #005601;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

/* BUTTON ANIMATION */
.show-animate .container .content button {
    animation: aboutButton 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes aboutButton {
    100% {
        opacity: 1;
        filter: blur(0);
        background: #29c52c;
    }
}

.container .content button:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/* TEAMS PAGE */
.section {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,rgba(3, 50, 3, 0.6), rgba(3, 50, 3, 0.7), rgba(3, 50, 3, 0.7), rgba(3, 50, 3, 0.8), rgba(3, 50, 3, 0.8), rgba(3, 50, 3, 0.9), rgba(3, 50, 3, 0.9), rgba(0, 0, 0, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
}

.section .title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section .title h2 {
    position: relative;
    font-size: 3rem;
    color: #fff;
    padding: 0 12px;
    opacity: 0;
    filter: blur(5px);
}

.show-animate .section .title h2 {
    animation: teamTitle 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes teamTitle {
    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.show-animate .section .title h2::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 5px;
    top: 0;
    left: 0;
    background: #00ff95;
    border-radius: 5px;
    box-shadow: 0 0 25px #00ff95;
    animation: down 3s forwards;
}

@keyframes down {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.section .title .arrows button {
    background: transparent;
    margin: 0px 15px;
    border: 0;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.section .title .arrows button i {
    padding: 10px 30px;
    color: white;
    font-size: 1.3rem;
    border: 1px solid #fff;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.section .title .arrows button:hover {
    background: #fff;
}

.section .title .arrows button:hover i {
    color: #000;
}

.section .title .arrows {
    opacity: 0;
    filter: blur(5px);
}

.show-animate .section .title .arrows {
    animation: teamArrows 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes teamArrows {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* TEAM MEMBER  */
.section .team-members {
    height: 620px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .team-members .member-card {
    position: relative;
    max-height: 350px;
    max-width: 300px;
    border-radius: 26px;
    margin: 0 12px;
    overflow: hidden;
    opacity: 0;
    filter: blur(3px);
    
}

.section .team-members .member-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    z-index: 1;
}

.show-animate .section .team-members .member-card {
    animation: memberCard 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes memberCard {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.member-card img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 26px;
    transition: all 0.8s ease;
}

/* CONTENT  */
.member-card .content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    z-index: 2;
}

.member-card .content h2 {
    color: #00ff33;
    margin: 5px 0;
    transition: 0.8s ease;
}

.member-card:hover .content h2 {
    text-shadow: 0 0 10px rgba(0, 255, 72, 0.8),
                 0 0 20px rgba(0, 255, 42, 0.6),
                 0 0 30px rgba(144, 238, 183, 0.3);
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.section .team-members .member-card .content h3 {
    color: #ffffff;
    font-weight: 300;

}

.section .team-members .member-card:hover img {
    transform: scale(1.1);
}

.section .team-members .member-card:nth-child(3) {
    filter: blur(2px);
}

/* CDN */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@media(max-width:1024px) {
    .section .title {
        flex-direction: column;
    }

    .section .title h2 {
        transition: 1s;
        padding: 0px 18px;
        margin: 45px 0;
        font-size: 3.4rem;
    }
}

@media(max-width:900px) {
    .section .title h2 {
        transition: 1s;
        font-size: 3.6rem;
    }
}

@media screen and (max-width: 768px) {
    .section .title h2 {
        transition: 1s;
        font-size: 3.8rem;
    }
    .heading h1 {
        font-size: 3rem;
        padding-top: 10%;
    }
    .container {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0 40px;
    }
    .container .content {
        width: 100%;
        margin: 35px 0;
    }
    .container .content h2 {
        font-size: 2.5rem;
    }
    .container .content p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .container .content button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media(max-width:440px) {
    .section .title h2 {
        transition: 1s;
        font-size: 3.5rem;
    }
}
